/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 Feb 2020, 11:45:24
    Author     : mac
*/

@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');


#IntroLabel{
    
     -fx-font-family: 'Trade Winds';
     -fx-font-size: 25px;
    
}